.deportes:hover {
  transition: all 0.9s;
  -webkit-transition: all 0.9s;
  border-color: green;
  border-width: 1.1px;
  z-index: 10;
  box-shadow: 0 1px 1px 0 green, 0 2px 2px 0 green; }

.argentina:hover {
  transition: all 0.9s;
  -webkit-transition: all 0.9s;
  border-color: blue;
  border-width: 1.1px;
  z-index: 10;
  box-shadow: 0 1px 1px 0 blue, 0 2px 2px 0 blue; }

.politica:hover {
  transition: all 0.9s;
  -webkit-transition: all 0.9s;
  border-color: indigo;
  border-width: 1.1px;
  z-index: 10;
  box-shadow: 0 1px 1px 0 indigo, 0 2px 2px 0 indigo; }

.rosario:hover {
  transition: all 0.9s;
  -webkit-transition: all 0.9s;
  border-color: cyan;
  border-width: 1.1px;
  z-index: 10;
  box-shadow: 0 1px 1px 0 cyan, 0 2px 2px 0 cyan; }

.cultura:hover {
  transition: all 0.9s;
  -webkit-transition: all 0.9s;
  border-color: orange;
  border-width: 1.1px;
  z-index: 10;
  box-shadow: 0 1px 1px 0 orange, 0 2px 2px 0 orange; }

.general:hover {
  transition: all 0.9s;
  -webkit-transition: all 0.9s;
  border-color: #000000;
  border-width: 1.1px;
  z-index: 10;
  box-shadow: 0 1px 1px 0 #000000, 0 2px 2px 0 #000000; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: helvetica; }

#menuprincipal li {
  display: inline;
  padding-left: 10px;
  color: #FFFFFF; }

.gradiente-negro-transparente {
  background-image: linear-gradient(to bottom, black, transparent); }

.menuprincipal li:hover {
  background-color: #B3B3B3; }

#menuprincipal {
  display: flex;
  padding: 0;
  width: 50vw;
  min-width: 200px; }

.formulario {
  padding-top: 1rem;
  margin-bottom: 3rem; }
  .formulario .formulario form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left; }

fieldset {
  background-color: #8B7BFF; }

#msg {
  margin: 10px;
  width: 236px;
  height: 89px; }

.grid {
  display: grid; }

#tablaqs {
  margin-left: 20vw;
  margin-right: 20vw;
  display: block;
  text-align: center;
  background-color: #D8D8D8; }

table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  background-color: #D8D8D8; }

.noticia {
  display: inline-block;
  position: relative; }

.noticia__titulo {
  background-color: #FFFFFF;
  text-align: center; }

.noticia__titulo--posicion {
  position: absolute;
  bottom: 0px; }

.noticiaImgVertical img {
  width: 40vw; }

.notaEntera {
  flex-wrap: wrap;
  text-align: left; }

.cuerpo {
  width: 40vw;
  min-width: 200px; }

.parrafo {
  color: #22DAE6;
  text-align: justify; }

.noticias_relacionadas--img {
  height: 12rem;
  object-fit: cover; }

.noticia__volanta {
  font-family: cambridge;
  text-align: center;
  font-size: 1rem;
  z-index: 3;
  color: #FFFFFF;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 1px;
  width: 100%;
  margin-right: 15px;
  margin-left: 15px; }

.carousel__imagen {
  object-fit: cover;
  position: relative; }
  .carousel__imagen .carousel__imagen img {
    object-fit: cover;
    vertical-align: top;
    margin-right: auto;
    margin-left: auto; }

.carousel__imagen--altura {
  height: 458.4px;
  max-height: 50vh;
  overflow: hidden;
  object-fit: cover; }

.carousel-caption {
  padding-top: 250px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
  color: white;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 25%, black 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, rgba(0, 0, 0, 0)), color-stop(100%, black));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 25%, black 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 25%, black 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 25%, black 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 25%, black 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */ }

.card {
  padding: 0px; }

.noticia__imagen {
  height: 92%;
  width: 100%;
  object-fit: cover; }
  .noticia__imagen .noticia__imagen img {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 92%;
    object-fit: cover;
    vertical-align: center; }

.noticia__imagen:after {
  content: '\A';
  position: absolute;
  width: 100%;
  height: 92%;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.842174) 7%, rgba(2, 0, 36, 0.0410539) 14%);
  opacity: 0.45;
  transition: all 0.5s;
  -webkit-transition: all 0.5s; }

.noticia__imagen:hover:after {
  opacity: 0.7; }

.noticias-mas-leidas {
  display: grid;
  font-size: 0.9vw;
  background-color: #D4D4D4;
  margin-top: 10vw;
  font-weight: bold;
  min-height: 5vw;
  max-height: 10vw; }

.titulo-nota {
  text-align: center;
  padding-top: 1rem; }

.clima {
  float: right; }
  .clima .clima img {
    width: 5rem;
    min-width: 5px; }

.seccion {
  display: grid;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%; }

.seccion__titulo {
  color: green;
  font-size: 3rem;
  display: block;
  text-align: center; }

.noticiaDeportiva {
  padding-right: 2vw;
  padding-left: 2vw;
  width: 20vw;
  font-size: 0.8vw;
  min-width: 200px;
  align-self: center; }
  .noticiaDeportiva .noticiaDeportiva img {
    padding-right: 2vw;
    width: 20vw;
    padding-top: 1vw;
    min-width: 200px; }

.borde-izquierda,
.borde-derecha {
  margin-bottom: 10px; }

.derecha {
  position: absolute;
  right: 10vw; }

.borde-abajo {
  border-bottom: 0px solid white; }

.body-deportes {
  padding-bottom: 1rem;
  padding-top: 6rem;
  margin-bottom: 5rem;
  width: 100%;
  background-color: green; }

#noticias-deportes {
  margin-left: 1vw;
  margin-right: 1vw;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center; }

.imagen-zoom-in {
  -webkit-transition: all .9s ease;
  /* Safari y Chrome */
  -moz-transition: all .9s ease;
  /* Firefox */
  -o-transition: all .9s ease;
  /* IE 9 */
  -ms-transition: all .9s ease;
  /* Opera */
  overflow: hidden;
  position: relative;
  height: 99%;
  object-fit: cover; }
  .imagen-zoom-in .imagen-zoom-in img {
    height: 100%;
    padding-bottom: auto;
    margin-left: auto;
    margin-right: auto; }

.imagen-zoom-in :hover {
  transform: scale(1.25);
  overflow: hidden;
  transition: .9s ease; }

.nav a {
  color: black; }

footer {
  display: block;
  text-align: center; }

.icono {
  height: 100%; }

#main {
  padding: 0px;
  margin: 0px; }

@media (min-width: 573px) {
  .carousel__imagen--altura {
    height: 573px;
    max-height: 50vh;
    overflow: hidden;
    object-fit: cover; }
  .noticia__volanta {
    font-size: 1.2rem; } }

@media (min-width: 768px) {
  #main {
    margin-left: 10vw;
    margin-right: 10vw; }
  .carousel__imagen--altura {
    height: 614.4px;
    overflow: hidden;
    object-fit: cover; } }

@media (min-width: 992px) {
  .carousel__imagen--altura {
    height: 793.6px;
    object-fit: cover; }
  .borde-derecha {
    border-right: 2px solid white; }
  .borde-izquierda {
    border-left: 2px solid white; }
  .borde-abajo {
    border-bottom: 3px solid white;
    margin-left: 10px;
    margin-right: 10px; } }

@media (min-width: 1200px) {
  .carousel__imagen--altura {
    height: 1080px;
    min-height: 50vh;
    object-fit: cover; }
  .noticia__volanta {
    font-size: 25px; } }
